<ul class="user-list">
  <li class="user-list__item" *ngFor="let user of users; let i = index">
    <a class="user-list__link" routerLink="/users/{{user.id}}">{{user.name.first}} {{user.name.last}}</a>
  </li>
</ul>
