.user-list{
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  &__item{
    min-width: calc(20% - 10px);
    height: auto;
    margin: 5px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center ;
  }
  &__link{
    width: 100%;
    box-sizing: border-box;
    padding: 10px 15px;
  }
}
