<nav class="nav">
  <ul class="nav__wrap">
    <li class="nav__item"><a routerLink="/">Home</a></li>
    <li class="nav__item"><a routerLink="/users">Users</a></li>
    <ng-content></ng-content>
  </ul>
</nav>
