.nav {
  width: 100%;
  height: auto;
  padding: 20px 0;
  &__wrap {
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    list-style: none;
    border: 1px solid blueviolet;
    border-radius: 4px;
    padding: 0;
    h1{
      margin-left: auto;
    }
  }

  &__item{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0;
    a{
      text-decoration: none;
      color: #000;
      transition: 0.1s all;
      &:hover{
        color: blue;
      }
    }
  }
}
