<div class="user">
  <div class="user__bio bio">
    <img src="{{user.picture.large}}" class="bio__image">
    <div class="bio__data">
      <div class="bio__name">{{user.name.first | uppercase}} {{user.name.last | uppercase}}</div>
      <div class="bio__city">{{user.location.city}}</div>
      <a href="mailto: {{user.email}}" class="bio__email">{{user.email}}</a>
      <a href="tel: {{user.cell}}" class="bio__phone">{{user.cell}}</a>
    </div>
  </div>
</div>
