.user{
  width: 100%;
  height: auto;
  position: relative;
}
.bio{
  width: 100%;
  max-width: 920px;
  margin: auto;
  height: auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  &__image{
    width: 50%;
    max-width: 350px;
    min-width: 300px;
    height: auto;
    object-fit: contain;
    position: relative;
  }
  &__data{
    width: 50%;
    min-width: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  &__name,
  &__city,
  &__phone,
  &__email{
    margin: 5px 0;
  }
}
